<html>
  <head>
    <title>SPARQLy GUIs Demo 1</title>
  </head>
  <body>
    <h1>Demo 1</h1>

    <p>
      This page demonstrates an early version of a SPARQLy GUIs recipe,<br>
      making a request to DBpedia and displaying the results.
    <p>
      To give the demonstration a try, set the row limit (if desired),<br>
      then click the "Run Query" button.

    <ul>
      <b>Row limit:</b>
      <select name="limit" id="set_limit">
        <option>10</option>
        <option>15</option>
      </select>
      &nbsp;
      <button id="run_query">Run Query</button>
    </ul>


    <h2>Output</h2>

    <h3>Table</h3>

    <ul>
      <div id="sparql_table">
        This will be a table...
      </div>
    </ul>

    <h3>Graph</h3>

    <p>
      Query results are quite likely to be noisy.
      This isn't a problem for a table,<br>
      but it can confuse the graphing code.
      So, a bit of filtering may be needed.<br>
      In this case, we only accept values under 15000.

    <ul>
      <div id="sparql_graph">
        This will be a bar graph...
      </div>
    </ul>


    <h2>Implementation</h2>

    <h3>SPARQL template</h3>

    <p>
      Like SQL queries, each SPARQL query has a fixed function.
      In order to use queries for varying tasks,
      we'll need a way to generate appropriate queries.
    <p>
      We do this by means of a query template,
      written in a combination of SPARQL and Handlebars.
      Variable information is provided by client-side code,
      based on user input, etc.
    <p>
      This template, in particular, defines several parts of the query:

    <ul>
      <li>definitions for <tt>prefixes</tt>
      <li>the <tt>param</tt> (eg, <tt>elevationFt</tt>)
      <li>the <tt>limit</tt> (eg, 10) on rows</tt>
    </ul>

    <ul>
      <pre id="sparql_template">
{{#each prefixes }}PREFIX  {{{ this }}}
{{/each }}
SELECT ?param ?label WHERE {
  ?place
    rdf:type dbpo:City ;
    {{ param }} ?param ;
    rdfs:label ?label .
    FILTER (lang(?label) = "en")
} ORDER BY DESC(?param) LIMIT {{ limit }}
      </pre>
    </ul>

    <h3>SPARQL query</h3>

    <p>
      Here is the actual SPARQL query, as sent to DBpedia:

    <ul>
      <div id="sparql_query">
        This will be a SPARQL query...
      </div>
    </ul>

{% include demo_1/load_js.html %}

<script type='text/coffeescript'>

{% include demo_1/chart.coffee %}
{% include demo_1/query.coffee %}
{% include demo_1/table.coffee %}

  # Set up widgets.

  $('button#run_query').click(do_query)

</script>


  </body>
</html>
