<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!-- _layouts/g_demo.html (becomes s_demo_*.html) -->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
      {% if page.title %}{{ page.title }} - {% endif %}SPARQLy GUIs
    </title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="en" />

<!-- Load external JavaScript libraries. -->

<script src='../external/jquery-1.7.1.js'></script>

<script>var ENV = { EXTEND_PROTOTYPES: false };</script>
<script src='../external/ember-0.9.5.js'></script>

<script src='../external/d3.v2.js'></script>

<script src='../external/coffee-script.js'></script>

<!-- Include local CoffeeScript files. -->

<script type="text/coffeescript">
# <![CDATA[
{% include scripts/demo_1/lib_chart.coffee %}
{% include scripts/demo_1/lib_query.coffee %}
{% include scripts/demo_1/lib_table.coffee %}
{% include scripts/demo_1/main.coffee %}
# ]]>
</script>

<!-- Include local CSS files. -->

<style type="text/css">
{% include styles/default.css %}
</style>

  </head>

  <body>
    <div id="container">
      <h1>{{ page.title }}</h1>

      {{ content }}
    </div>
  </body>
</html>
